<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <io.jenkins.plugins.Simplifyqaconnector plugin="simplify-qa-connector@1.0.5-SNAPSHOT">
      <api>https://simplifyqa.app/jenkinsSuiteExecution</api>
      <token>{AQAAABAAAABgN8IptSCcbSeaYYHW3C7bIyVNGFIjydTao8WAK7PsT/rdz63vvy1R+s2phq47Dwa5uTJzWHISOT8XGScy0FHtG19KVXL8PAggoHUVn8+nZ/wJZpxVJjR3brHAJJ0UvSr4AVjCHlnNChpKaq5WL/gSyA==}</token>
      <executionId>0</executionId>
      <i>0</i>
    </io.jenkins.plugins.Simplifyqaconnector>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>